
@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>Confirm Email Address Sent</h2>

<div class="row">
    <div class="col-md">
        Please check your Email Inbox, a confirm Email is Sent to @ViewBag.Email
    </div>
</div>

